:root {
    --home-color: ;
    --about-color: ;
    --contact-color: ;
    --serice-color: ;
    --shop-color: ;
}

#header {
    height: 100vh;
    background-size: cover cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;

}


#arrow {
    height: 73px;
    width: 73px;
    display: block;
    margin: auto;

}

#nav-bar {

    /* margin-top: 70vh; */
    display: flex;
    flex-direction: row;
    justify-content: center;


}

li {

    padding-left: 13px;
    padding-right: 13px;
}

a {
    color: white;
}

#bg_concac {
    background-image: url(/img/home/Contact.png);
}

#contact {
    
    margin-top: 75px;
    display: flex;
    justify-content: center;
}