

#header {
 
        overflow: hidden;
        align-items: center;
        background-color: var(--white);
        background: url("../img/about/header\ \(2\).png");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        height: 100vh;
        place-items: center;
        /* background-image: url(../img/home/header.png);
       background-position: center; */
    
    


    background-position: center;
}

#description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 75px;
    text-align: center;
}
#description h2{
    width: 745px;
    margin-left: 15px;
}
#description p{
    width: 745px;
    margin-left: 15px;
}
#mvv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#bg-mvv {
    background-image: url(/img/about/objectives\ section.png);
    width: 1704px;
    height: 1039px;
    margin-bottom: 50px;
    align-items: center;
}