

#header {
    overflow: hidden;
    align-items: center;
    background-color: var(--white);
    background: url("../img/home/header.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100vh;
    place-items: center;
    /* background-image: url(../img/home/header.png);
   background-position: center; */

}


.boxbig {
    width: 522px;
    height: 727px;
}

.boxmini {
    margin-top: 75px;
    margin-left: 35px;
    margin-right: 35px;
    width: 408px;
    height: 548px;
}

#r-img {

    background-image: url(../img/home/img1.png);
}

#c-img {

    background-image: url(../img/home/img2.png);
}

#l-img {

    background-image: url(../img/home/img1.png);
}

#services {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 75px;
    text-align: center;
}

#description h2 {
    width: 745px;
    margin-left: 15px;
}

#description p {
    margin-top: 50PX;
    width: 745px;
    margin-left: 15px;
}

#bg_concac {

 
    background-image: url(/img/home/Contact.png);
    width: 1763px;
    height: 1039px;
    margin-bottom: 50px;
    align-items: center;
    
}